/* add your CSS here */
.sizing {
	padding: 1% 1% 3% 4%;
	background-color: fuchsia;
}

.width {
	width: 325px;
	max-width: 325px;
}

.mainbox {
	border: thin solid grey
}

.shadow {
	box-shadow: 3px 3px 5px 6px #ccc;
}

.smallbox {
	border: thin solid grey;
	width: 285px;
}

.smallsizing {
	padding: 1% 2% 4% 2%;
}

.listplacement {
	margin-left: 0px;
	padding-left: 0px;
}

.italics {
	font-style: italic;
}

.bold {
	font-weight: bold;
}

.nopoints {
	list-style-type: none;
}